/* Styles for OSM Utah website */

/* Load font from local directory */
@font-face {
  font-family: "Source Sans";
  src: url("fonts/SourceSans3-VariableFont_wght.ttf") format("truetype");
}

/* Basic styles */
body {
  font-family: "Source Sans", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  color: #333;
}

h1,
h2 {
  text-align: center;
  color: #2c3e50;
}

h1 {
  font-size: 2.5em;
  margin-top: 20px;
}

h2 {
  font-size: 2em;
  margin-top: 20px;
}

p {
  font-size: 1em;
  margin: 15px 10px;
  padding: 0;
}

/* Container for centering content */
.container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
  align-items: start; /* Align items at the start */
}

.grid-container .image {
  text-align: center;
}

.grid-container .image img {
  max-width: 100%;
  height: auto;
}

.grid-container .content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Align content at the start */
}

.footer {
  text-align: center;
  margin-top: 20px;
}

.footer img {
  max-width: 100%;
  height: auto;
}

/* Small screens */
@media (max-width: 600px) {
  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.5em;
  }

  p {
    font-size: 0.9em;
    margin: 10px 5px;
  }

  .container {
    padding: 10px;
  }

  .grid-container {
    grid-template-columns: 1fr;
  }
}
