{{ define "main" }}
<header class="page-header">
  <div class="container">
    <h1>{{ .Title }}</h1>
    {{ if eq .Section "blog" }}
    <div class="page-meta">
      {{ .Date.Format "January 2, 2006" }}{{ with .Params.author }} &middot; {{ . }}{{ end }}
    </div>
    {{ end }}
  </div>
</header>
{{ if .Params.image }}
  <div class="page-featured-image">
    {{ $resource := .Resources.GetMatch .Params.image }}
    {{ if $resource }}
      {{ $scaled := $resource.Resize "1200x" }}
      <img src="{{ $scaled.RelPermalink }}" alt="{{ .Title }}">
    {{ else }}
      <img src="{{ .Params.image | relURL }}" alt="{{ .Title }}">
    {{ end }}
  </div>
{{ end }}
<div class="page-content">
  {{ .Content }}
</div>
{{ end }}
